/Universal_Android_Toolkit/nbproject/private/
/Universal_Android_Toolkit/build/
/Universal_Android_Toolkit/dist/
/UATLangFileEditor/nbproject/private/
/UATLangFileEditor/LangFileType/nbproject/private/